body {
    background-color: rgb(206, 212, 218);
    font-family: 'Nunito', sans-serif;
}



.my-nav {
    background-color: rgb(206, 212, 218);
}

.my-brand {
    font-size: 55px;
 
}

.my-nav-items {
    font-size: 22px;
    color: rgb(73, 80, 87);
   
}


a:hover {
    color: #FF8CC6 !important;
}

.my-cards,a {
    text-decoration: none;
    color: rgb(73, 80, 87);
    background-color: rgb(206, 212, 218);
}

.my-size {
        width: 100%;
        height: 40vw;
        object-fit: cover;
}